

<div class="errorRow">
	
		<h1>Woops!</h1>
		<img src="~/resources/images/dino_error.gif" />
		<h3>There was a problem handling your request!</h3>




		
		<p>Message: @ViewBag.Message</p>
		<p>Stack Trace: @ViewBag.StackTrace</p>
	
</div>

<style>
	.errorRow h1{
		text-align: center;
	}

	.errorRow h3{
		text-align: center;
	}

	.errorRow h5 {
		text-align: center;
	}
	
	.errorRow p {
		text-align: center;
	}

	.errorRow img{
		margin: 0 auto;
		display: block;
	}

</style>
